@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");

/* font-family: 'Big Shoulders Display', cursive;
font-family: 'Lexend Deca', sans-serif; */

html {
	background-color: hsl(0, 0%, 95%);
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: center;
}

.container {
	display: flex;
	justify-content: center;
}

.sedans-box {
	background-color: hsl(31, 77%, 52%);
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
}

.suvs-box {
	background-color: hsl(184, 100%, 22%);
}

.luxury-box {
	background-color: hsl(179, 100%, 13%);
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
}

img {
	margin: 22px 32px;
	padding-top: 20px;
}

.title {
	color: hsl(0, 0%, 95%);
	font-family: "Big Shoulders Display", cursive;
	font-size: 2rem;
	font-weight: 700;
	margin: 0 32px;
}

.description {
	color: hsla(0, 0%, 100%, 0.75);
	font-family: "Lexend Deca", sans-serif;
	font-size: 1rem;
	font-weight: 400;
	padding: 16px 40px 50px;
	max-width: 225px;
}

button {
	color: hsla(0, 0%, 100%, 0.75);
	border: none;
	background-color: hsl(0, 0%, 95%);
	border-radius: 50px;
	height: 40px;
	margin: 0 40px 40px 40px;
	width: 120px;
}

.sedans-box button {
	color: hsl(31, 77%, 52%);
}

.suvs-box button {
	color: hsl(184, 100%, 22%);
}

.luxury-box button {
	color: hsl(179, 100%, 13%);
}

.attribution {
	text-align: center;
}

@media only screen and (max-width: 550px) {
	html {
		height: 200%;
	}

	.container {
		flex-direction: column;
	}

	.sedans-box {
		border-bottom-left-radius: 0;
		border-top-right-radius: 8px;
	}

	.luxury-box {
		border-top-right-radius: 0;
		border-bottom-left-radius: 8px;
	}

	.description {
		max-width: 250px;
		padding: 10px 0 10px 30px;
	}

	button {
		margin: 0 20px 35px 28px;
	}
}

@media only screen and (min-width: 551px) and (max-width: 750px) {
	html {
		height: 150%;
	}
	.container {
		flex-direction: column;
	}

	.sedans-box {
		border-bottom-left-radius: 0;
		border-top-right-radius: 8px;
	}

	.luxury-box {
		border-top-right-radius: 0;
		border-bottom-left-radius: 8px;
	}

	.description {
		max-width: 250px;
		padding: 10px 0 10px 30px;
	}

	button {
		margin: 0 20px 35px 28px;
	}
}
